{% extends "base.html" %}
{% block title %}{% if object %}Редагувати{% else %}Створити{% endif %} завдання{% endblock %}
{% block content %}
<h1 class="h4">{% if object %}Редагувати{% else %}Створити{% endif %} завдання</h1>
    <form method="post" class="mt-3">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Заголовок</label>
        {{ tasks.name }}
    </div>
    <div class="mb-3">
        <label class="form-label">Опис</label>
        {{ tasks.description }}
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Статус</label>
             {{ tasks.status }}
        </div>
        <div class="col-md-6">
            <label class="form-label">Пріоритет</label>
            {{ tasks.priority }}
        </div>
        <div class="col-md-6">
            <label class="form-label">Термін виконання</label>
            {{ tasks.progress_termin }}
        </div>
     </div>
    <div class="mt-4 d-flex gap-2">
        <button class="btn btn-primary" type="submit">Зберегти</button>
        <a class="btn btn-secondary" href="{% url 'tasks:task_list' %}">Скасувати</a>
    </div>
</form>
{% endblock %}