{% extends "base.html" %}
{% block title %}{% if object %}Редагувати{% else %}Створити{% endif %} завдання{% endblock %}
{% block content %}
<h1 class="h4">{% if object %}Редагувати{% else %}Створити{% endif %} завдання</h1>
    <form method="post" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-4 d-flex gap-2">
        <button class="btn btn-primary" type="submit">Зберегти</button>
        <a class="btn btn-secondary" href="{% url 'tasks:task_list' %}">Скасувати</a>
    </div>
</form>
{% endblock %}